body{ 
    font-family:'Segoe UI',
    sans-serif;
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;}
input,
textarea{
    width:100%;
    padding:10px;
    margin:10px 0;
    border:1px solid #ddd;
    border-radius:5px;
    box-sizing:border-box;
}
.formulario{
    background:white;
    padding:30px;
    border-radius:510x;
    box-shadow:0 0 20px rgba(0,0,0,0.1);
    width:300px;}
button{ 
    width:100%;
    padding:10px;
    border:none;
    background:#2ecc71;
    color:white;border:none;
    border-radius:5px;
    box-sizing:border-box;}
button:hover{background:#27ae60;}